<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489584211934-pqr158qc9rmjg60kigj7h2fbirj6gui2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489584211934-pqr158qc9rmjg60kigj7h2fbirj6gui2</string>
	<key>API_KEY</key>
	<string>AIzaSyBhWEvbFQoVtaPQToDHPT8kBkq6VOu5j1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>489584211934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locatortest</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-test-7d875</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-test-7d875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489584211934:ios:89c13f8106d5ecfa2d0f4f</string>
</dict>
</plist>